<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <style>
        body{
            width: 100vw;
            height: 100vh;

            margin: 0;
        }
    </style>

</head>
<body>
    
    <div style="width: 100%; height: 100%;  text-align: center;">
        <div style="height: 35px; width: 100%; margin-top: 7px;">
            <img src="/img_back" alt="no img;" onclick="history.back()" style="width: 25px; height: 25px; float: left; margin-left: 8px;">
        </div>

        <div style="height: 25px; width: 100%; margin-bottom: 20px; background-color: #EDEDED; line-height: 25px;">INFORMATION</div>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 15px; font-weight: bold;">
            <summary style="line-height: 30px;">푸움 스토어란?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 13px; line-height: 20px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    "푸움 스토어"는 대학부원들의 재능과 따듯한 마음을 나눌 수 있는 마켓입니다. "푸움 스토어"의 물건은 2023 소망교회 대학부 여름수련회에서 획득한 단란트로 구매할 수 있습니다.
                </h1>
            </div>
        </details>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 15px; font-weight: bold;">
            <summary style="line-height: 30px;">달란트는 어떻게 모으나요?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 13px; line-height: 20px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    &bull; 얼리코인<br>&nbsp;&nbsp;&nbsp;목요일 9시-9시30분 집합: <span style="color: red;">5개</span><br>&nbsp;&nbsp;&nbsp;금요일 7시30분-7시40분 집합: <span style="color: red;">5개</span><br>&nbsp;&nbsp;&nbsp;토요일 7시30분-7시40분 집합: <span style="color: red;">5개</span><br>
                </h1>
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    &bull; 게임<br>&nbsp;&nbsp;&nbsp;사격: 5발 <span style="color: red;">5개</span>, 4~3발 <span style="color: red;">3개</span>, 2발 <span style="color: red;">1개</span><br>&nbsp;&nbsp;&nbsp;제기: 10개 <span style="color: red;">5개</span>, 20개 <span style="color: red;">10개</span><br>&nbsp;&nbsp;&nbsp;공기: 1~5단 성공시 <span style="color: red;">5단 개수</span><br>&nbsp;&nbsp;&nbsp;이모티콘 게임: 하 <span style="color: red;">1개</span>, 중 <span style="color: red;">2개</span>, 상 <span style="color: red;">3개</span><br>
                </h1>
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    &bull; 말씀암송<br>&nbsp;&nbsp;&nbsp;밥절: <span style="color: red;">3개</span><br>
                </h1>
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    &bull; 야외레크<br>&nbsp;&nbsp;&nbsp;한 코스 pass: <span style="color: red;">3개</span><br>
                </h1>
            </div>
        </details>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 15px; font-weight: bold;">
            <summary style="line-height: 30px;">친구끼리 달란트를 합쳐 사용할 수 있나요?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 13px; line-height: 20px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    기본적으로 달란트는 합쳐서 사용할 수 없습니다. 하지만 "공동구매 가능"이라고 표시되어 있는 물품에 한에서는 달란트를 모아 구매하는 것이 가능합니다.

                </h1>
            </div>
        </details>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 15px; font-weight: bold;">
            <summary style="line-height: 30px;">WAKE UP의 의미는?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 13px; line-height: 20px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    나의 사랑하는 자가 내게 말하여 이르기를 나의 사랑, 내 어여쁜 자야 일어나서 함께 가자 (아2:10) <br><br>
                    "일어나 함께 가자". 소망교회 대학부는 지금까지 겨울수련회, 국내선교 그리고 매주 드리는 예배를 통해 하나님의 사랑을 느낄 수 있었습니다. "WAKE UP"은 하나님 안에서 하나 된 우리가 이제는 다른 이들에게 사랑을 나누고 흘려 보내는 실천의 자리로 함께 나아간다는 의미를 담고 있습니다.

                </h1>
            </div>
        </details>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 15px; font-weight: bold;">
            <summary style="line-height: 30px;">하임 갓탤런트란?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 13px; line-height: 20px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 13px; text-align: left;">
                    4년만에 부활한 "하임 갓탤런트"! 갓탤런트는 대학부원이라면 누구나 자신의 끼를 마음껏 뽐낼 수 있는 자리입니다. 여러분들이 뽑는 최고의 탤런트! 깜짝 이벤트와 함께 웃으며 즐기는 시간입니다.
                </h1>
            </div>
        </details>



    </div>

    
</body>
</html>