<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <style>
        body{
            width: 100vw;
            height: 100vh;

            margin: 0;
        }
    </style>

</head>
<body>
    
    <div style="width: 100%; height: 100%;  text-align: center;">
        <div style="height: 35px; width: 100%; margin-top: 7px;">
            <img src="/img_back" alt="no img;" onclick="history.back()" style="width: 25px; height: 25px; float: left; margin-left: 8px;">
        </div>

        <div style="height: 25px; width: 100%; background-color: #EDEDED; line-height: 25px;">MENU</div>
        

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_cafe" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">소망 카페 쿠폰</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">30</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_syg_snack" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">간식</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">7</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_syg_hand" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">핸드크림</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">12</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_sports_album_small" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">스포츠 액자 小</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">15</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_sports_album_large" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">스포츠 액자 大</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">30</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_squidgame_album" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 150px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">오징어게임 액자</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 25px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">18</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_aespa_album" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">AESPA 앨범</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">15</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_itzy_album" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">ITZY 앨범</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">15</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_starbucks_small" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 160px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">스타벅스 텀블러 小</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 15px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">50</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_starbucks_big" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 160px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">스타벅스 텀블러 大</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 15px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">65</div>
        </div>

        <div style="width: 90%; height: 100px; margin-left: 5%; border-bottom: 2px solid #b4b4b4;">
            <img src="/img_carmera" alt="no img;" style="width: 70px; height: 70px; float: left; margin-top: 15px; border: 2px solid #EDEDED;">
            <div style="height: 100px; width: 120px; float: left; margin-left: 15px; line-height: 100px; font-size: 17px; text-align: left;">일회용 카메라</div>
            <img src="/img_coin" alt="no img;" style="width: 20px; height: 20px; float: left; margin-top: 40px; margin-left: 55px;">
            <div style="height: 100px; float: left; margin-left: 5px; line-height: 100px; font-size: 18px; font-weight: bold; margin-left: 5px;">150</div>
            <div style="height: 15px; width: 100px; margin-left: 100px; margin-top: -30px; float: left; line-height: 15px; font-size: 13px; text-align: left; color: blue;">공동구매 가능</div>
        </div>


        <div style="width: 90%; height: 20px; margin-left: 5%; margin-top: 20px; font-size: 12px; color: crimson;">
            상품 구매는 예배당 앞 마켓 부스를 이용해주세요.
        </div>
        

    </div>



</body>
</html>