<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <style>
        body{
            width: 100vw;
            height: 100vh;

            margin: 0;
        }
    </style>
    
</head>
<body>

    <div style="width: 100%; height: 100%;  text-align: center;">
        <div style="height: 35px; width: 100%; margin-top: 7px;">
            <img src="/img_back" alt="no img;" onclick="history.back()" style="width: 25px; height: 25px; float: left; margin-left: 8px;">
        </div>

        <div style="height: 20px; width: 100%;"></div>

        <img src="/img_timeschedule2" alt="no img;" style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; object-fit: scale-down;">





    </div>



</body>
</html>